<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=Gets_IISLogDb;User ID=sa;Password=root" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- log4net -->
    <add key="log4net.Internal.Debug" value="false" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="true" />
    <!--筛选日期:如:只需要处理前两天日数据则value="2" 如需要处理前5天log数据则value="5" 今日数据暂不做处理;-->
    <add key="Gets:Days" value="60" />
    <!--服务器标识,用做于服务器标识;-->
    <add key="Gets:ServerId" value="127.0.0.1" />
    <!--数据过滤,不需要处理的数据内容,改数据使用正则表达式匹配，如有多个使用空格隔开;-->
    <add key="Gets:IgnoredPath" value="versioninfo HEAD" />
    <!--服务器标识,用做于服务器标识;-->
    <add key="Gets:GroupId" value="default" />
    <!--服务器标识,用做于服务器标识;-->
    <add key="Gets:LogFolderPath" value="D:\workspace\LogFiles" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>